<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RSAAlog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A88C29E41F4C2B2D00E60492</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A88C29F81F4C2B2D00E60492</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A88C2A031F4C2B2E00E60492</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
